# Ignore notebook checkpoint files
.ipynb_checkpoints/

# Ignore temporary notebook conversion outputs
*.nbconvert.ipynb

# Ignore macOS system files
.DS_Store

# Ignore pytorch model files
*.pt

# Ignores any directory named data at any level in the repo 
data/
